.contatti-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 60vh;
}


.contatti-container button{
    width: 100%;
    font-size: 40px;
}

.centering{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.field {
    display: flex;
    justify-content: space-evenly;
    width: 45vw;
    border-radius: 10px;
    margin: 4px 0;
    border: 3px solid #2b4d4e;
}

@media screen and (max-width: 767px) {


    .variant-mantenience {
        font-size: 2em;
        display: block;
        width: 100%;
    }

    .field {
        width: 100%;
    }
    .contact-box {
        width: 100%;
        margin: 0;
        margin-top: 20px;
        border: 3px solid #5EB1B6;
        border-radius: 24px;
    }
}