footer {
    background: #5EB1B6;
    color: #bbb;
    text-align: center;
}

footer p{
    margin: 0;
}


.footer_cartolina-donazioni-body {
    background-image: url('/donationCard.png');
    background-repeat: round;
    height: 360px;
    width: 100%;
    margin: 0 auto;


    font-family: 'Patrick Hand SC', cursive;
    text-transform: uppercase;

    z-index: 1;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);

    /* -webkit-transform: rotate(340deg);
    -moz-transform: rotate(340deg);
    -o-transform: rotate(340deg);
    -ms-transform: rotate(340deg);
    transform: rotate(340deg); */
}

.social-box{
    position: relative;
    top: -180px;
    width: 50%;
}


