footer {
    overflow: hidden;
    background: #5EB1B6;
    color: #bbb;
}

footer p {
    margin: 0;
}

.box-red{
    background-color: red;
    width: 500px;
    height: 500px;
}


.footer_cartolina-donazioni-body {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 2em;
    text-transform: uppercase;

    position: relative;
    top: -160px;
    background-image: url('/donationCard.png');
    background-repeat: round;
    height: 360px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;

    display: flex;
    align-items: center;


    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);

    -webkit-transform: rotate(340deg);
    -moz-transform: rotate(340deg);
    -o-transform: rotate(340deg);
    -ms-transform: rotate(340deg);
    transform: rotate(340deg);
}

.footer_donazione-card-text {
    margin-right: 25%;
    text-align: center;
}

.footer_donazione-card-text p {
    color: black;
    margin-bottom: 10px;
    padding: 0 3%;
}

.footer_donazione-card-text button {
    background-color: transparent;
    border: 2px solid #f28dfd;
    border-radius: 30px;
}

.footer_donazione-card-text button a {
    text-decoration: none;
    color: black;
}

.contact-container {
    position: relative;
    top: -80px;
    left: 60px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}


.social-box {
    position: relative;
    top: -265px;
    left: 6px;
    width: 98%;
    list-style-type: none;
}

.social-box a {
    text-decoration: none;
    color: #5EB1B6;
    font-size: 1.5em;
}

.thankYou-body_footer{
    height: 280px;
    width: 470px;
    background-color: #FFC093 ;
    border: 2vh solid #FFF0BC;
    position: relative;
    top: -100px;
    left: 20px;
    z-index: 2;

    /* shadows */
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(255, 244, 244, 0.3);

    /*positioning content*/
    display: inline-flex;
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */

    /*style for rotation*/
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

@media screen and (max-width: 767px) {
    .thankYou-body_footer{
        /* border: .5vh solid #FFF0BC; */
        height: 360px;
        width: 100%;
        top: -24vh;
    }
    .thxCard-btn_footer {
        font-size: 4em;
        width: 84%;
        border-radius: 45px;
    }

}