header {
    background-color: #BBDEF0;
    text-align: center;
    font-size: 23px;
}

header svg {
    position: relative;
    z-index: 999;
}

header a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

/* mettere l ombra all onda dell header */

header Link {
    display: inline;
}

.nav-end{
    text-align: end;
}

.link-logo {
    padding-left: 10px;
}

.nav-links a {
    letter-spacing: 2px;
    margin: 0 10px;
}

.nav-links a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 3px solid #fff;
}

@media screen and (max-width: 767px) {
    .nav-end{
        text-align: center;
    }
    
}